[graph]
targets = [
    { triple = "x86_64-unknown-linux-gnu" },
    { triple = "aarch64-unknown-linux-gnu" },
]

[bans]
multiple-versions = "warn"
highlight = "all"
skip = [
    { name = "windows-sys", version = "0.59.0" },
    { name = "windows_x86_64_msvc", version = "0.52.6" },
    { name = "windows_x86_64_gnu", version = "0.52.6" },
    { name = "windows-targets", version = "0.52.6" },
    { name = "windows-sys", version = "0.60.2" },
]
